.character-details{
    margin-top: 20px;
            padding: 20px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
}

.main{
    font-size: larger;
}

.mainInfo{
    border-style: ridge;
    border-radius: 20px;
}